@model List<Announcement>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <!------------- Categories Carousel ------------->
    <div id="carouselCategory" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                var categories = Model.ToList();
                var numCategories = categories.Count;
                var numSlides = (int)Math.Ceiling((double)numCategories / 6);

                for (int i = 0; i < numSlides; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row">
                            @for (int j = i * 6; j < Math.Min((i + 1) * 6, numCategories); j++)
                            {
                                var category = categories[j];
                                <div class="col-md-2 col-2">
                                    <a asp-action="CategoryDetails" asp-controller="Category"
                                        asp-route-id="@category.Category?.CategoryId" class="category-link"><img
                                            src="~/images/categories/@category.Category?.CategoryImage"
                                            alt="@category.Category?.CategoryName" /></a>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselCategory" role="button" data-bs-slide="prev"
            style="margin-left: -3rem;">
            <span class="bi bi-chevron-left" style="font-size: 2rem; color: black;"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselCategory" role="button" data-bs-slide="next"
            style="margin-right: -3rem;">
            <span class="bi bi-chevron-right" style="font-size: 2rem; color: black;"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>


    <!------------- /Categories Carousel------------->

    <hr />
    <!------------- Announcements ------------->
    <!--- row --->
    <div class="row">
        @foreach (var announcement in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div id="carouselExample_@announcement.AnnouncementId" class="carousel slide">
                        <div class="carousel-inner">
                            @for (int i = 0; i < announcement.ImageUrls.Count; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="~/images/adverts/@announcement.ImageUrls[i]" class="d-block w-100"
                                        alt="Image @(i + 1)">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExample_@announcement.AnnouncementId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExample_@announcement.AnnouncementId" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@announcement.Title</h5>
                        <p class="card-text">@announcement.Category?.CategoryName</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="renter">
                                <h6>By : @(announcement.AppUser?.Name ?? "Unknown")</h6>
                            </div>
                            <div>
                                <a href="#" class="heart-icon"><i class="bi bi-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price per month: @announcement.PricePerMonth</li>
                        <li class="list-group-item">Price per night: @announcement.PricePerNight</li>
                    </ul>
                    <div class="card-body">
                        <a asp-action="AnnouncementDetails" asp-route-id="@announcement.AnnouncementId"
                            class="card-link">Details</a>
                    </div>
                </div>
            </div>
        }

    </div>
    <!--- /row --->
    <!------------- /Announcements ------------->

</div>
